@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

:root [data-theme='rocket'] {
	--theme-rounded-base: 20px;
	--theme-rounded-container: 4px;
}

/* rocket theme */
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins');
	font-display: swap;
}
